@use "../../scss/abstracts/colors" as *;

.cart-container {
  width: 300px;
  display: flex;
  flex-flow: wrap column;

  .items-container {
      p {
          padding: 1rem;
      }
    .header-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
