@use "../../scss/abstracts/colors" as *;

.products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .product-card {
    display: flex;
    flex-flow: wrap column;
    p {
      padding: 4px 0;
    }
  }
}
