.products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-column-gap: 75px;
  justify-items: center;
  justify-content: center;

  .product {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 1rem;
    border-radius: 10px;
  }
}
