@use "../../scss/abstracts/colors" as *;

.products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .product2 {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 1rem;
    border-radius: 10px;
  }
}
