@use "../abstracts/colors" as *;

button,
a {
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
  display: block;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
}

p,
h1,
h2,
h3,
a,
button {
  color: $text;
}

.light {
  background-color: $background;

  .navbar-container {
    background-color: $primary;
  }

  button {
    background: $secondary;
  }

  button:hover {
    background: $background;
  }

  .card {
    background-color: $white;
  }
}

.dark {
  background-color: $background-dark;
  color: $white;

  .navbar-container {
    background-color: $secondary;
  }

  button {
    background: $primary;
  }

  button:hover {
    background: $background-dark;
    color: $white;
  }
  .card {
    background-color: $background;
  }
}
