.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;

  .home-container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
  }
}
