$dark-000: #c1c2c5;
$dark-100: #a6a7ab;
$dark-200: #909296;
$dark-300: #5c5f66;
$dark-400: #373a40;
$dark-500: #2c2e33;
$dark-600: #25262b;
$dark-700: #1a1b1e;
$dark-800: #141517;
$dark-900: #101113;

$gray-000: #f8f9fa;
$gray-100: #f1f3f5;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$red-000: #fff5f5;
$red-100: #ffe3e3;
$red-200: #ffc9c9;
$red-300: #ffa8a8;
$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;
$red-900: #c92a2a;

$orange-000: #fff4e6;
$orange-100: #ffe8cc;
$orange-200: #ffd8a8;
$orange-300: #ffc078;
$orange-400: #ffa94d;
$orange-500: #ff922b;
$orange-600: #fd7e14;
$orange-700: #f76707;
$orange-800: #e8590c;
$orange-900: #d9480f;

$teal-000: #e6fcf5;
$teal-100: #c3fae8;
$teal-200: #96f2d7;
$teal-300: #63e6be;
$teal-400: #38d9a9;
$teal-500: #20c997;
$teal-600: #12b886;
$teal-700: #0ca678;
$teal-800: #099268;
$teal-900: #087f5b;

$green-000: #ebfbee;
$green-100: #d3f9d8;
$green-200: #b2f2bb;
$green-300: #8ce99a;
$green-400: #69db7c;
$green-500: #51cf66;
$green-600: #40c057;
$green-700: #37b24d;
$green-800: #2f9e44;
$green-900: #2b8a3e;

$white: #ffffff;

$primary: $teal-500;
$secondary: $orange-500;
$text: $dark-900;
$background: $dark-100;
$background-dark: $dark-600;
