@use "../../scss/abstracts/colors" as *;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  max-width: 1240px;
  padding-left: 1rem;
  padding-right: 1rem;

  .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  .list-container {
    display: flex;

    ul {
      display: flex;
      margin: 5px;

      li {
        margin: 0 1rem;
      }
    }
  }
}
